
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="styles.css"/>
    <title>Hello Docker + Spring Boot</title>
</head>
<body>


<div id="container">
    <div id="header" >
        

    </div>
    <div id="content" class="content-block">
        <h1> The best ambience to taste grills</h1>
        <p> we are completely fictional location.but that doesn't matter</p>
    </div>

        <div id="reserve" class="content-block">
            <h2>Make a reservation</h2>
            <p>Get your spot before somebody</p>
            <form>
                <label for="your_name"> Your name</label>
                <input type="text" id="your_name" placeholder="john B.goode">
                <label for="your_email"> Youremail</label>
                <input type="email" id="your_email" placeholder="your@email.com">
                <label for="your_time"> Reservation time</label>
                <input type="text" id="your_time" placeholder="Tomorrow at 10pm">
                
                <input type="submit" value="reserve">

            
            
            
            
            
            </form>
        </div>
        <div id="footer" class="content-block">
            &copy;2021 barbeque nation
        </div>
    </div>
    


</body>

</html>